---
import Layout from '@/layouts/Layout.astro';
import RegisterForm from '@/components/auth/RegisterForm.tsx';
---

<Layout title="Rejestracja | 10x Cards">
  <div class="flex justify-center items-center min-h-[calc(100vh-var(--navbar-height)-var(--footer-height))]">
    <RegisterForm client:load />
  </div>
</Layout> 