---
import Layout from "@/layouts/Layout.astro";
import ResetPasswordForm from "@/components/auth/ResetPasswordForm.tsx";
---

<Layout title="Resetowanie hasła | 10x Cards">
  <div class="flex justify-center items-center min-h-[calc(100vh-var(--navbar-height)-var(--footer-height))]">
    <ResetPasswordForm client:load />
    {/* TODO: Consider how the reset token from the URL will be passed to the React component */}
    {/* This might involve some client-side script in this Astro file or in Layout.astro */}
    {/* to read URL params/hash and pass them as props, or the component itself handles it. */}
  </div>
</Layout>
