---
import Layout from "@/layouts/Layout.astro";
import CollectionManager from "@/components/CollectionManager.tsx";
---

<Layout title="Zarządzaj Kolekcjami Fiszak">
  <div class="container mx-auto py-8 px-4">
    <h1 class="text-5xl sm:text-6xl font-bold mb-8 text-center text-gray-100 drop-shadow-lg">Zarządzaj swoimi fiszkami</h1>

    <CollectionManager client:load />
  </div>
</Layout>

<style>
  /* Możesz dodać specyficzne style dla tej strony tutaj, jeśli potrzebne */
  /* Na przykład, aby kontener miał minimalną wysokość, jeśli jest mało treści */
  /* .container {
    min-height: calc(100vh - TwojaWysokoscNaglowkaStopki);
  } */
</style>
